body{
    background-color: rgb(228, 235, 171)
}

ul{
    list-style: none;
    background-color: rgb(216, 199, 199);
    width: 300;
    padding: 10px;
}

.items_nav{
display: inline;
padding: 10px;
}